In [1]:
import pandas as pd

In [2]:
tbl = {'my column':[1,2,3,4,5], 'MY_OTHER col':['a','ab','b','c','d']}
df = pd.DataFrame(tbl)

In [3]:
df.head()

   my column MY_OTHER col
0          1            a
1          2           ab
2          3            b
3          4            c
4          5            d

In [10]:
def clean_col(_col):
    return _col.strip().lower().replace(' ','_')

df.rename(columns=clean_col)

   my_column my_other_col
0          1            a
1          2           ab
2          3            b
3          4            c
4          5            d