In [1]:
import pandas as pd

In [8]:
data = {'col1':['1232123', '1234323','None'], 'col2':['1232123', '1234323','None']}

In [9]:
df = pd.DataFrame(data)

In [10]:
df.head()

      col1     col2
0  1232123  1232123
1  1234323  1234323
2     None     None

In [13]:
df.replace('None','835')

      col1     col2
0  1232123  1232123
1  1234323  1234323
2     1232     1232