In [1]:
performance1 = [89, 89, 88, 78, 79]
performance2 = [93, 92, 94, 89, 88]
performance3 = [89, 88, 89, 93, 90]
performance4 = [81, 78, 81, 92, 82]

In [2]:
import pandas as pd

In [7]:
df = pd.DataFrame([performance1, performance2, performance3, performance4])
df.tranpose()

AttributeError: 'DataFrame' object has no attribute 'tranpose'

In [10]:
df = df.transpose()

In [11]:
df

    0   1   2   3
0  89  93  89  81
1  89  92  88  78
2  88  94  89  81
3  78  89  93  92
4  79  88  90  82

In [14]:
df.rename(columns = {0:'performance1',1:'performance1',2:'performance3',3:'performance4'})

   performance1  performance1  performance3  performance4
0            89            93            89            81
1            89            92            88            78
2            88            94            89            81
3            78            89            93            92
4            79            88            90            82

In [15]:
import seaborn as sns

In [16]:
df.mean()

0    84.6
1    91.2
2    89.8
3    82.8
dtype: float64