In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data

In [11]:
data = {
    'Tier':['A','A+','B','C','D','All other'],
    'NumAccounts':[77,19,338, 425, 24, 205],
    'Revenue':[4.7, 3.9, 6, 2.8, .4,.9],
}
df_raw = pd.DataFrame(data)
df_raw

        Tier  NumAccounts  Revenue
0          A           77      4.7
1         A+           19      3.9
2          B          338      6.0
3          C          425      2.8
4          D           24      0.4
5  All other          205      0.9

In [32]:
totalAccounts = df_raw.NumAccounts.sum()
totalRevenue = df_raw.Revenue.sum()

(df_raw
 .assign(
     pctAccount = round((df_raw.NumAccounts / totalAccounts)*100),
     pctRevenue = round((df_raw.Revenue / totalRevenue)*100)
  )
 .reindex(columns = ['Tier','NumAccounts','pctAccount','Revenue','pctRevenue'])
 .astype({'Tier':'category'})
)

        Tier  NumAccounts  pctAccount  Revenue  pctRevenue
0          A           77         7.0      4.7        25.0
1         A+           19         2.0      3.9        21.0
2          B          338        31.0      6.0        32.0
3          C          425        39.0      2.8        15.0
4          D           24         2.0      0.4         2.0
5  All other          205        19.0      0.9         5.0

In [23]:
pd.Categorical(df_raw.Tier, 
               ordered=True,
               categories=['A+','A','B','C','D','All other'])

['A', 'A+', 'B', 'C', 'D', 'All other']
Categories (6, object): ['A+' < 'A' < 'B' < 'C' < 'D' < 'All other']

Tier           category
NumAccounts       int64
Revenue         float64
dtype: object

In [29]:
df_raw.dtypes

Tier            object
NumAccounts      int64
Revenue        float64
dtype: object