In [2]:
import pandas as pd
import numpy as np

## Create Data

In [9]:
mydata={'col1':[1,2,3,4],
        'col2':[444,555,666,444],
        'col3':['abc','def','ghi','xyz'],
        'col4':[1,np.nan,np.nan,5],
        'col5':[np.nan,np.nan,np.nan,np.nan]}

In [10]:
df = pd.DataFrame(data=mydata)

In [11]:
df

   col1  col2 col3  col4  col5
0     1   444  abc   1.0   NaN
1     2   555  def   NaN   NaN
2     3   666  ghi   NaN   NaN
3     4   444  xyz   5.0   NaN

## Counting Missing Values

In [12]:
df.isnull()

    col1   col2   col3   col4  col5
0  False  False  False  False  True
1  False  False  False   True  True
2  False  False  False   True  True
3  False  False  False  False  True

In [14]:
df.isnull().sum()

col1    0
col2    0
col3    0
col4    2
col5    4
dtype: int64

#### Create DF with total missing

In [26]:
df.isnull().sum().to_frame()

      0
col1  0
col2  0
col3  0
col4  2
col5  4

In [27]:
missingDF = df.isnull().sum().to_frame()

In [28]:
missingDF

      0
col1  0
col2  0
col3  0
col4  2
col5  4

#### Rename column with total missing values

In [29]:
missingDF.rename(columns={0:'TotalMissing'},inplace=True)

In [30]:
missingDF

      TotalMissing
col1             0
col2             0
col3             0
col4             2
col5             4

#### Find only columns with missing values

In [33]:
cols = missingDF.loc[missingDF['TotalMissing']>0]

In [34]:
cols

      TotalMissing
col4             2
col5             4

#### Create list of column names with missing values

In [44]:
cols.index.tolist()

['col4', 'col5']