In [1]:
import numpy as np
import pandas as pd

## Set random seed

In [2]:
np.random.seed(101)

## Create DataFrame

In [3]:
df = pd.DataFrame(data=np.random.randn(5,4), index=['a','b','c','d','e'],columns=['w','x','y','z'])

In [4]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

## Subset Rows with a Condition

In [5]:
df[df['w']>0]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

## Subset Rows with a Condition and Select Columns

In [8]:
df[df['x']>0][['w','x']]

          w         x
a  2.706850  0.628133
c -2.018168  0.740122
e  0.190794  1.978757

#### Using Loc

In [19]:
df.loc[df['x']>0,['w','x']]

          w         x
a  2.706850  0.628133
c -2.018168  0.740122
e  0.190794  1.978757

## Subset Rows with Multiple Conditions

#### AND

In [11]:
df[(df['x']>0) & (df['w']<0)]

          w         x         y         z
c -2.018168  0.740122  0.528813 -0.589001

#### AND - Using Loc

In [22]:
df.loc[(df['x']>0) & (df['w']<0),['w','x','y','z']]

          w         x         y         z
c -2.018168  0.740122  0.528813 -0.589001

#### OR

In [13]:
df[(df['x']>0) | (df['w']<0)]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
c -2.018168  0.740122  0.528813 -0.589001
e  0.190794  1.978757  2.605967  0.683509

#### OR - Using Loc

In [25]:
df.loc[(df['x']>0) | (df['w']<0),['w','x','y','z']]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
c -2.018168  0.740122  0.528813 -0.589001
e  0.190794  1.978757  2.605967  0.683509

##### NOTE: Cannot use 'AND/OR' because they do not work on a series, only work on individual values

In [16]:
x=True
y=True
print("test:",x and y)

test: True