In [2]:
import pandas as pd
import numpy as np

In [4]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [5]:
#list
labels

['a', 'b', 'c']

In [7]:
#list
my_data

[10, 20, 30]

In [8]:
#array
arr

array([10, 20, 30])

In [11]:
#dictionary
d

{'a': 10, 'b': 20, 'c': 30}

In [13]:
#create Pandas series with default index
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [16]:
#create Pandas series with list for index
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [18]:
#Can use numpy array as data
pd.Series(data=arr, index=labels)

a    10
b    20
c    30
dtype: int32

In [22]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [23]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR',"Japan"])

In [24]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [27]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [28]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [30]:
#obtain values from a series
ser1['USA']

1

In [31]:
ser3 = pd.Series(data=labels)

In [32]:
ser3

0    a
1    b
2    c
dtype: object

In [33]:
ser3[2]

'c'

In [34]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [35]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [36]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64