In [1]:
import pandas as pd
import numpy as np
import datetime

## Set Dates and Times

In [3]:
date = datetime.date(year=2013, month=6, day=7)
display(date, type(date))

datetime.date(2013, 6, 7)

datetime.date

In [4]:
time = datetime.time(hour=12, minute=30,second=19, microsecond=463198)
display(time, type(time))

datetime.time(12, 30, 19, 463198)

datetime.time

In [5]:
dt = datetime.datetime(year=2013, month=6, day=7, 
                       hour=12, minute=30, second=19, microsecond=463198)

display(dt, type(dt))

datetime.datetime(2013, 6, 7, 12, 30, 19, 463198)

datetime.datetime

## Set Timedelta

In [6]:
td = datetime.timedelta(weeks=2, days=5, hours=10, minutes=20, 
                        seconds=6.73, milliseconds=99, microseconds=8)
display(td, type(td))

datetime.timedelta(days=19, seconds=37206, microseconds=829008)

datetime.timedelta

## Add Date/DateTime and TimeDelta objects

In [7]:
print(f'new date is {date + td}')

new date is 2013-06-26

In [8]:
date + td

datetime.date(2013, 6, 26)

In [10]:
print(f'new date time is {dt + td}')

new date time is 2013-06-26 22:50:26.292206

In [11]:
dt + td

datetime.datetime(2013, 6, 26, 22, 50, 26, 292206)

## pandas and its Timestamp objec

In [13]:
p = pd.Timestamp(year=2012, month=12, day=21, hour=5,minute=10, second=8, microsecond=99)
display(p, type(p))

Timestamp('2012-12-21 05:10:08.000099')

pandas._libs.tslibs.timestamps.Timestamp

In [14]:
pd.Timestamp('2016/1/10')

Timestamp('2016-01-10 00:00:00')

In [18]:
pd.Timestamp('2016/1/10')

Timestamp('2016-01-10 00:00:00')

In [19]:
pd.Timestamp('2014-5/10')

Timestamp('2014-05-10 00:00:00')

In [20]:
pd.Timestamp('2016-01-05T05:34:43.123456789')

Timestamp('2016-01-05 05:34:43.123456789')

It's also possible to pass in a single integer or float to the Timestamp constructor, which returns a date equivalent to the number of nanoseconds after the Unix epoch (January 1, 1970):

In [21]:
pd.Timestamp(500)

Timestamp('1970-01-01 00:00:00.000000500')

In [22]:
pd.Timestamp(5000, unit='D')

Timestamp('1983-09-10 00:00:00')