In [1]:
import pandas as pd
import numpy as np
import datetime

## Datetime

### Date

In [7]:
date = datetime.date(year=2013, month=6, day=7)
print(date)

2013-06-07

### Time

In [8]:
time = datetime.time(hour=12, minute=30, second=19, microsecond=463198)
print(time)

12:30:19.463198

### Datetime

In [9]:
dt = datetime.datetime(year=2013, month=6, day=7,
                       hour=12, minute=30, second=19,microsecond=463198)
print(dt)

2013-06-07 12:30:19.463198

### Timedelta

In [10]:
td = datetime.timedelta(weeks=2, days=5, 
                        hours=10, minutes=20, seconds=6.73,
                        milliseconds=99, microseconds=8)

print(td)

19 days, 10:20:06.829008

### Add Timedelta to Date and Datetime Objects

In [22]:
print(date,'\n',date + td)

2013-06-07
 2013-06-26

In [21]:
print(dt,'\n',dt + td)

2013-06-07 12:30:19.463198
 2013-06-26 22:50:26.292206

## Pandas 
### Timestamp

In [23]:
pd.Timestamp(year=2012, month=12, day=21, hour=5,
             minute=10, second=8, microsecond=99)

Timestamp('2012-12-21 05:10:08.000099')

In [24]:
pd.Timestamp('2016/1/10')

Timestamp('2016-01-10 00:00:00')

In [25]:
pd.Timestamp('2014-5/10')

Timestamp('2014-05-10 00:00:00')

In [26]:
pd.Timestamp('Jan 3, 2019 20:45.56')

Timestamp('2019-01-03 20:45:33')

In [27]:
pd.Timestamp('2016-01-05T05:34:43.123456789')

Timestamp('2016-01-05 05:34:43.123456789')

It's also possible to pass in a single integer or float to the Timestamp constructor, which returns a date equivalent to the number of nanoseconds after the Unix epoch (January 1, 1970):

In [28]:
pd.Timestamp(500)

Timestamp('1970-01-01 00:00:00.000000500')

In [29]:
pd.Timestamp(5000, unit='D')

Timestamp('1983-09-10 00:00:00')

### to_datetime

In [30]:
pd.to_datetime('2015-5-13')

Timestamp('2015-05-13 00:00:00')

In [31]:
pd.to_datetime('2015-13-5', dayfirst=True)

Timestamp('2015-05-13 00:00:00')

In [32]:
pd.to_datetime('Start Date: Sep 30, 2017 Start Time: 1:30 pm',
               format='Start Date: %b %d, %Y Start Time: %I:%M %p')

Timestamp('2017-09-30 13:30:00')

In [33]:
pd.to_datetime(100, unit='D', origin='2013-1-1')

Timestamp('2013-04-11 00:00:00')

The to_datetime function comes equipped with even more functionality. It is capable of converting entire lists or Series of strings or integers to Timestamp objects. Since we are far more likely to interact with Series or DataFrames and not single scalar values, you are far more likely to use to_datetime than Timestamp:

In [36]:
s = pd.Series([10, 100, 1000, 10000])
pd.to_datetime(s, unit="D")

0   1970-01-11
1   1970-04-11
2   1972-09-27
3   1997-05-19
dtype: datetime64[ns]

The to_datetime function comes equipped with even more functionality. It is capable of converting entire lists or Series of strings or integers to Timestamp objects. Since we are far more likely to interact with Series or DataFrames and not single scalar values, you are far more likely to use to_datetime than Timestamp:

In [39]:
s = pd.Series(['12-5-2015', 
               '14-1-2013',
               '20/12/2017', 
               '40/23/2017'])

In [45]:
pd.to_datetime(s, dayfirst=True, errors='coerce')

0   2015-05-12
1   2013-01-14
2   2017-12-20
3          NaT
dtype: datetime64[ns]

In [49]:
pd.to_datetime(['Aug 3 1999 3:45:56', '10/31/2017'])

DatetimeIndex(['1999-08-03 03:45:56', '2017-10-31 00:00:00'], dtype='datetime64[ns]', freq=None)

### to_timedelta
Like the Timestamp constructor and the to_datetime function, pandas has Timedelta and to_timedelta to represent an amount of time. Both the Timedelta constructor and the to_timedelta function can create a single Timedelta object. Like to_datetime, to_timedelta has a bit more functionality and can convert entire lists or Series into Timedelta objects: